@model TesteTecnicoWK_Web.Models.ProdutosViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalhes</h3>

<div>
    <h4>Produtos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger" asp-action="Index">Voltar a lista</a>
    |
    <a class="btn btn-info" href="@Url.ActionLink("Edit", "ProdutosView", new { id = Model.Id })">Editar</a>
</div>
